apiVersion: batch/v1
kind: Job
metadata:
  name: minio-create-bucket
  namespace: mlops
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: mc
        image: minio/mc:latest
        command:
        - /bin/sh
        - -c
        - |
          mc alias set myminio http://minio:9000 minio minio123
          mc mb myminio/mlflow --ignore-existing
          mc anonymous set download myminio/mlflow
          echo "Bucket created successfully"
