apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  namespace: mlops
  labels:
    app: kafka-ui
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: kafka-ui
