apiVersion: v1
kind: ConfigMap
metadata:
  name: airflow-config
  namespace: mlops
data:
  AIRFLOW__CORE__EXECUTOR: "KubernetesExecutor"
  AIRFLOW__CORE__LOAD_EXAMPLES: "False"
  AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "True"
  AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "True"
  AIRFLOW__WEBSERVER__RBAC: "True"
  AIRFLOW__KUBERNETES_EXECUTOR__NAMESPACE: "mlops"
  AIRFLOW__KUBERNETES_EXECUTOR__WORKER_CONTAINER_REPOSITORY: "localhost:5000/airflow-mlops"
  AIRFLOW__KUBERNETES_EXECUTOR__WORKER_CONTAINER_TAG: "3.1.5-custom"
  AIRFLOW__KUBERNETES_EXECUTOR__DELETE_WORKER_PODS: "True"
  AIRFLOW__KUBERNETES_EXECUTOR__DELETE_WORKER_PODS_ON_FAILURE: "False"
  # Simple Auth Manager configuration
  AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS: "admin:admin"
