global:
  scrape_interval: 10s
  scrape_timeout: 5s
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "loki"
    static_configs:
      - targets: ["loki:3100"]
  - job_name: "node_exporter"
    static_configs:
      - targets: ["node_exporter:9100"]
  - job_name: "dcgm_exporter"
    static_configs:
      - targets: ["dcgm-exporter:9400"]